setuptools~=47.1
openpyxl~=3.0.4
scipy~=1.8.1
bruges~=0.5.4
tqdm~=4.56.0
re~=2.2.1
json~=2.0.9
logging~=0.5.1.2
pandas~=1.1.0
pywt~=1.1.1
blixt_utils~=0.1.0

numpy~=1.22.3
matplotlib~=3.5.2
seaborn~=0.11.2